<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost/shelter?characterEncoding=UTF-8</property> <!--TODO: pamiętać - ten encoding pozwala na m.in. polskie znaki -->
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">qwerty111</property>
        <property name="hibernate.connection.pool_size">1</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <mapping resource="animal.hbm.xml"/>
        <mapping resource="employee.hbm.xml"/>
        <!--w przypadku gdyby było więcej mapping resource, to wtedy zwiększa się pool size, czy można też bez..?
                póki co nic nie krzyczał, że mu źle z tą jedynką... hm.-->
    </session-factory>
</hibernate-configuration>